# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*tfplan*
tf.apply.out
tf.plan.out
.terraform.lock.hcl
.terraformrc
terraform.rc
override.tf
override.tf.json
secret.tfvars

# Keys
*.crt
*.csr
*.p7b
*.pem
*token
*.key


# Data files
*.xlsx
*.zip


# Other
**/*.pyc
*.audit
*.bak*
*.csv
*.debug
*.err
*.log
*.out
*.swp
*_override.tf
*_override.tf.json
*hclic
*pass
*passwd
*password
*snap
*tmp*
.init.json
.init.out
.init.txt
__pycache__
audit
init
init.json
init.out
init.txt
license*



